body {
    margin: 0%;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div {
    margin: 10px 10px;
}

h1 {

    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center; 
}

p, a {

    text-align: center;
    color:aquamarine; 
    font-size: 16px;
    text-decoration: none;
    transition: font-size 150ms linear; 
}

p a:hover {

    font-size: 25px

}



#travel_guide {

    font-size: 21px; 
    color: grey;
}
#phone_icon {

    padding-top: 10px;
}

#copyright {

    text-align: right; 
    color: grey;
}

@media only screen and (max-width: 750px) {
    #camp {
        max-width: 80%;
    }
    
    video {

        max-width: 50%;
    }
}

